
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ekbakiye</title>
</head>
<body>
    <div> 
        BAKİYE EKLEME SAYFASI
    </div>
</body>
</html>
