
@{
    ViewBag.Title = "Panel";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

                <table class="auto-style1">
                    <tr>
                        <td class="auto-style8">&nbsp;</td>
                        <td class="auto-style9">&nbsp;</td>
                    </tr>                  
    @using (Html.BeginForm())
    {
        <tr>
            <td class="auto-style13">Kullanıcı Adı</td>
            <td class="auto-style14">
                @Html.TextBox("adminNik")
            </td>
        </tr>
        <tr>
            <td class="auto-style8">Şifre</td>
            <td class="auto-style9">
              @Html.Password("adminPass")
            </td>
        </tr>
        <tr>
            <td class="auto-style8">&nbsp;</td>
            <td class="auto-style9">
                <input id="Button1" class="auto-style11" type="submit" value="Giriş" />
            </td>
        </tr>

    }
              
                </table>
       