
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <style type="text/css">
        .auto-style1 {
            width: 100%;
        }

        .auto-style2 {
            width: 207px;
            height: 56px;
        }

        .auto-style3 {
            width: 227px;
        }

        .auto-style4 {
            height: 243px;
        }

        .auto-style5 {
            width: 212px;
        }

        .auto-style6 {
            height: 243px;
            width: 212px;
        }

        .auto-style7 {
            width: 369px;
        }

        .auto-style8 {
            width: 171px;
        }

        .auto-style9 {
            width: 383px;
        }

        .auto-style10 {
            width: 148px;
        }

        .auto-style11 {
            width: 152px;
        }

        .auto-style13 {
            width: 171px;
            height: 26px;
        }

        .auto-style14 {
            width: 383px;
            height: 26px;
        }

        .auto-style15 {
            width: 212px;
            height: 23px;
        }

        .auto-style16 {
            height: 23px;
        }
    </style>
</head>
<body>

    <table class="auto-style1">
        <tr>
            <td class="auto-style5">&nbsp;</td>
            <td class="auto-style3">
                <img alt="" class="auto-style2" src="@Url.Content("~/Content/img/highreslogo.png")" />
            </td>
            <td class="auto-style7"><h1>Admin Paneli</h1></td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td class="auto-style15"></td>
            <td colspan="2" rowspan="3">
                <table class="auto-style1">
                    <tr>
                        <td class="auto-style8">&nbsp;</td>
                        <td class="auto-style9">&nbsp;</td>
                    </tr>
                   
    @using (Html.BeginForm())
    {
        <tr>
            <td class="auto-style13">Kullanıcı Adı</td>
            <td class="auto-style14">
                @Html.TextBox("adminNik")
            </td>
        </tr>
                        <tr>
                            <td class="auto-style8">Şifre</td>
                            <td class="auto-style9">
                              @Html.Password("adminPass")
                            </td>
                        </tr>
                        <tr>
                            <td class="auto-style8">&nbsp;</td>
                            <td class="auto-style9">
                                <input id="Button1" class="auto-style11" type="submit" value="Giriş" />
                            </td>
                        </tr>

    }
                        
                </table>
            </td>
            <td class="auto-style16"></td>
        </tr>
        <tr>
            <td class="auto-style5">&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td class="auto-style6"></td>
            <td class="auto-style4"></td>
        </tr>
    </table>

</body>
</html>
