
@{
    ViewBag.Title = "Panel";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

                <table class="auto-style1">
                    <tr>
                        <td class="auto-style19">&nbsp;</td>
                        <td class="auto-style20">
                            &nbsp;
                        </td>
                    </tr>
                    
                        <tr>
                            <td class="auto-style17">
                                
                                    <a  class ="buton" href="@Url.Action("ekbakiye", "Admin")" ><span>Bakiye Ekle</span> </a>
                                
                                
                              
                            <td class="auto-style18">
                                <a class="buton" href="@Url.Action("urunek", "Admin")"><span>Ürün Ekle</span></a>
                            </td>
                        </tr>
                        <tr>
                            <td class="auto-style22">
                                <a class="buton" href="@Url.Action("guncelle", "Admin")"><span>Bakiye Güncelle</span></a>
                            </td>
                            <td class="auto-style9">
                                <a class="buton" href="@Url.Action("urunsil", "Admin")"><span>Ürün Çıkar</span></a>
                            </td>
                        </tr>
                    
                    
                </table>
  