
@{
    ViewBag.Title = "Panel";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<table class="auto-style1">
    <tr>
        <td>&nbsp;</td>
        <td class="auto-style2">Ürün id</td>
        <td>
            @using (Html.BeginForm())
            {
                <input id="Text1" name="urunid" type="text" /><input id="Button1" type="submit" value="Sil" />
                @ViewBag.silindi
            }
       
        </td>
        <td>&nbsp;</td>
    </tr>
</table>