
@{
    ViewBag.Title = "Checkout";
}

<div class="nomargin">
    <header class="bread prime">
        <div class="container">
            <h3><i class="icon-level-down"></i>Checkout</h3>
        </div>
    </header>
</div>

<div class="container">

    <!-- Checkout Page -->
    <section class="order">

        <div class="row cart">
            <div class="span12">
                <div class="wrap-table">
                    <form action="#">
                        <table class="table">
                            <thead>
                                <tr>
                                    <td width="70%">Item</td>
                                    <td width="10%">Price</td>
                                    <td width="10%">Quantity</td>
                                    <td width="10%">Total</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="cart-img pull-left hidden-phone"><img src="img/products/2.jpg" alt=""></div>
                                        <div class="item pull-left">
                                            <span><a href="#"><i class="icon-cancel-circled"></i></a> <a href="#">Sample Product Added in Cart</a> <a href="#"><i class="icon-remove-sign"></i></a></span>
                                        </div>
                                    </td>
                                    <td><i>$ 98.00</i></td>
                                    <td><input type="text" class="span1" value="1"></td>
                                    <td><strong>$ 98.00</strong></td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="cart-img pull-left hidden-phone"><img src="img/products/2.jpg" alt=""></div>
                                        <div class="item pull-left">
                                            <span><a href="#"><i class="icon-cancel-circled"></i></a> <a href="#">Sample Product Added in Cart</a> <a href="#"><i class="icon-remove-sign"></i></a></span>
                                        </div>
                                    </td>
                                    <td><i>$ 98.00</i></td>
                                    <td><input type="text" class="span1" value="3"></td>
                                    <td><strong>$ 98.00</strong></td>
                                </tr>
                                <tr>
                                    <td colspan="3"><div class="item">Total</div></td>
                                    <td>$ 248.90</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="row-fluid cart-pay">
                            <div class="span6">Additional comments (optional) <br><textarea rows="3"></textarea> </div>
                            <div class="span6 cart-checkout"><button class="btn"><i class="icon-arrows-ccw"></i> Update Cart</button> <button class="btn theme"><i class="icon-check"></i> Check Out </button></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </section>
</div>
