
@{
    ViewBag.Title = "SiparisTakip";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="nomargin">
    <header class="bread prime">
        <div class="container">
            <h3><i class="icon-level-down"></i>Sipariş Takip</h3>
        </div>
    </header>
</div>


@ViewData["a"]

<br /> <br />
