
@{
    ViewBag.Title = "Login";
}

<br />
<br />
<div class="container">

    <!-- Login Section -->
    <section class="login">


        <div class="wrap nopadding">

            <div class="row-fluid">
                <div class="span6 login-box">

                    <ul class="nav nav-tabs" id="myTab">
                        <li class="active"><a href="#login"><i class="icon-lock"></i> Musteri Girisi</a></li>
                        <li><a href="#forgot"><i class="icon-help"></i> Parolamı Unuttum</a></li>
                    </ul>

                    <div class="tab-content">

                        <!-- Login -->
                        <div class="tab-pane active" id="login">
                       @using (Html.BeginForm())
                       {
                        <div class="control-group">
                            <label class="control-label" for="inputEmail"> Kullanici Adi</label>
                            <div class="controls">
                                @Html.TextBox("inputEmail")
                            </div>
                        </div>
                                <div class="control-group">
                                    <label class="control-label" for="inputPassword">Parola</label>
                                    <div class="controls">
                                       @Html.Password("inputPassword")
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="controls">
                                       <input type="submit" class="btn theme" value="Giris" /><br />@ViewData["html"]
                                       <!-- <button id="myBtn" type="submit" class="btn theme">Girisss</button>-->
                                        
                                    </div>
                                </div>
                       }
                 
                        </div>

                        <!-- Register -->
                        <div class="tab-pane" id="forgot">
                            <form class="form-horizontal">
                                <div class="control-group">
                                    <label class="control-label" for="inputEmail"> Eposta</label>
                                    <div class="controls">
                                        <input type="email" id="inputEmail" placeholder="Email">
                                    </div>
                                </div>

                                <div class="control-group">
                                    <div class="controls">
                                        <button type="submit" class="btn theme">Parolamı Kurtar</button>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>

                </div>

                <div class="span6 login-box">
                    <h5><i class="icon-user-add"></i>Yeni Kullanıcı</h5>
                    <hr>
                    <p>
                        Hosgeldiniz. Uye degilseniz yeni bir hesap oluşturmak için aşağıdaki butonu tıklayabilirsiniz.
                    </p><div class="control-group">
                        <div class="controls">
                            <a href="@Url.Action("Create", "Create")"> <button type="submit" class="btn theme">Hesap Olustur →</button></a>
                        </div>
                    </div>
                    <p></p>
                </div>
            </div>

        </div>

    </section>
</div>
<br />